


.box{
  width: 41em;
  height: 20em;
  background-color: #c84343;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  justify-content: center; 
   align-items: center;
  /* /* min-width: 320px; */
  min-height: 100vh; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e4d5d5;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #424a8c7e ;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

