* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  
    background-color: #f4f6f8;
    padding: 20px;
}
#root{
   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.title {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* FLEXBOX */


.card {
    width: 220px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.card img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 8px;
    color: #222;
}

.card p {
    font-size: 18px;
    font-weight: bold;
    color: #27ae60;
    margin-bottom: 12px;
}

.card-footer {
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 6px;
    font-size: 14px;
    color: #555;
}
